@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
:root {
    --primary: #fe2c55;
    --white: #fff;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --color-black: #000;
    --text-color: #333;
}
input,
button,
textarea,
select {
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
}
//variable
// $primary: #fe2c55;
// $default-layout-header-height: 60px;

body {
    // @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
    // font-family: 'IBM Plex Sans', sans-serif;
    // font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
}
button {
    border: none;
    outline: none;
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
