@import './variableGlobal.scss';
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

:root {
    --primary: #fe2c55;
    --text-color: #333;
    --white: #fff;
    --color-black: #000;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 0px 24px 0px 20px;
    --font-family: 'ProximaNova', 'sans-serif';
}
input,
button,
textarea,
select {
    font-style: inherit;
    font-variant-ligatures: inherit;
    font-variant-caps: inherit;
    font-variant-numeric: inherit;
    font-variant-east-asian: inherit;
}
//variable
// $primary: #fe2c55;
// $default-layout-header-height: 60px;

body {
    // @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');
    // font-family: 'IBM Plex Sans', sans-serif;
    // font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    // font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    overflow-y: overlay;
}

// fonts emmbeded

@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}
@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: ProximaNova;
    src: url('../../assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: SofiaPro;
    src: url('../../assets/fonts/sofiapro-bold.woff2');
}

button {
    border: none;
    outline: none;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        font-size: 1.6rem;
        border-radius: 8px;
        line-height: 2.2rem;
        font-weight: 600;
        padding: 3px 0px;
        color: white;
        text-align: left;
        // position: relative;
    }
    .tippy-arrow {
        position: absolute;
        content: '';
        left: 0px;
        transform: translate3d(37px, 0px, 0px);
    }
    .tippy-content {
        font-weight: 300;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -7.757px;
        left: 0;
        border-width: 0 8px 8px;
        // border-bottom-color: initial;
        // transform-origin: center bottom;
        color: rgba(84, 84, 84, 0.92);
    }
}
a[href] {
    color: var(--text-color);
    text-decoration: none;
}
