// menu wrapper
.menu-list {
    width: 223px;
    .menu-item {
        margin-left: 0;
        background-color: transparent;
        width: 100%;
        justify-content: flex-start;
        border-radius: 0;
        font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 400;
        padding: 10px 16px;
        // height: 42px;
        line-height: 20px;

        &.separate {
            border-top: 1px solid rgba(22, 24, 35, 0.12);
        }
        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    .menu-propper {
        padding-bottom: 8px;
    }
}

// menu item

//header

.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    .back-btn {
        width: 50px;
        height: 100%;
        background-color: transparent;
        cursor: pointer;
    }
    .header-title {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
